{% extends 'base.html' %}
 

 {% block metatags %}
    <meta name="description" content="Contact">
    <meta name="keywords" content="restaurare, piatra, roca, lemn">
    <meta property="og:title" content="Contact" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https:www.artarestaurarii.ro" />
    <meta property="og:description" content="Restaurare piatra" />
{% endblock metatags %}

   
{% load static %}

{% block body %} <body id="contact"> {% endblock body %}

{% block content %}

<body>


<!--Breadcrumbs ==================================================
================================================== -->
<div class="box-c">

<div class="breadcrumbs">
  <div class="container">
    <header>
      <h3>Pagina de contact</h3>
      <p>- Vă stăm la dispoziție pentru orice nelămurire. <a href="http://www.anarieldesign.com/" rel="nofollow"><strong>Echipa Artarestaurarii.ro</strong></a> -</p>
    </header>
  </div>
  <!-- container ends here -->
  <hr class="separator1">
</div>
<!-- breadcrumbs ends here --> 
<!-- Contact Content Part - GoogleMap ==================================================
================================================== -->
<section class="map"> 
  <!-- google map -->
  <div class="map-holder">
    <div class="map-container">
      <iframe class="map" src="https://maps.google.com/maps?q=bucharest&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      <!-- end google map --> 
    </div>
    <!--map-container ends here--> 
  </div>
  <!--map-holder ends here--> 
</section>

<!-- Contact Content Part - Contact Form ==================================================
================================================== -->
<div class="container contact"> 
  <!-- Contact Sidebar ==================================================
================================================== -->
  <div class="one_third">
    <h3>Info de contact</h3>
    <section class="first shadow">
      <ul>
        <li>București</li>
        <li>Phone: xxxxxxx</li>
        <li>Website: <a href="#" title="">www.artarestaurarii.ro</a></li>
        <li>Email: <a href="#" title="">office@artarestaurarii.ro</a></li>
      </ul>
    </section>
  </div>

  <div>
    <h5> Momentant formularul este în construcție, însă vă așteptăm cu drag să ne contactați folosind variantele alăturate.</h5>
  </div>

  <!-- one_third ends here -->
  <div class="two_third lastcolumn contact1">
    <div id="contactForm">
      <h3>Contactați-ne</h3>
      <div class="sepContainer"></div>
      <form action="process.php" method="post" id="contact_form">
        <div class="name">
          <label for="name">Numele dvs.:</label>
          <p> Introduceți numele complet</p>
          <input id=name name=email type=text placeholder="e.g. Mr. John Smith" required disabled="disabled"/>
        </div>
        <div class="email">
          <label for="email">Emailul dvs.:</label>
          <p> exemplu@email.com</p>
          <input disabled="disabled" id=email name=email type=email placeholder="example@domain.com" required />
        </div>
        <div class="message">
          <label for="message">Mesajul dvs.:</label>
          <p> Content</p>
          <textarea disabled="disabled" id=message name=message rows=6 cols=10 required></textarea>
        </div>
        <div id="loader">
          <input disabled="disabled" type="submit" value="Submit" />
        </div>
      </form>
    </div>
    <!-- end contactForm --> 
  </div>
</div>
<div class="blankSeparator"></div>

<!-- Socialize ==================================================
================================================== -->
<hr class="separator2">
<div class="socialsblock">
  <div class="container socialize">
    <h3>Să deschidem dialogul!</h3>
    <section class="socials">
      <ul class="socials">
        <li><a href="#"><img src="images/socials/twitter.png" alt="" /></a></li>
        <li><a href="#"><img src="images/socials/facebook.png" alt="" /></a></li>
        <li><a href="#"><img src="images/socials/dribbble.png" alt="" /></a></li>
        <li><a href="#"><img src="images/socials/google+.png" alt="" /></a></li>
        <li><a href="#"><img src="images/socials/linkedin.png" alt="" /></a></li>
        <li><a href="#"><img src="images/socials/youtube.png" alt="" /></a></li>
      </ul>
    </section>
  </div>
  <!-- container ends here --> 
</div>
<!-- socialsblock ends here --> 


</div>  <!-- box-c -->





</body>





    

{% endblock content %}
