{% extends 'base.html' %}
 

   
{% load staticfiles %}

{% block body %} <body id="home"> {% endblock body %}

{% block content %}

<div class="container">
    
</div><!-- /.container -->


<div class="box-c">  
<p>{% static 'images/w2.jpg' %}</p>
<p>/Users/alex/repos/arta/src/static_dirs/images/w2.jpg</p>

        <div class="row">
               
                <div class="col-md-9">
                </div>


                <div class="col-md-3" style="">
                  <h3>Despre restaurare</h3>
                  
                  <hr style="border-color: grey; width: 90%; margin-left: 10px;"> 
                  <hr style="border-color: grey; width: 90%; margin-left: 10px;"> <br>
                </div>
        </div> <!-- row -->


        <div class="row">
               

                

          
        </div> <!-- row -->


        <!-- style="font-size: 12pt" -->



   </div> <!-- box-c -->

<script>
  document.getElementById("despreElement").id="visited";
</script>


</body>
    

{% endblock content %}
