    
<div class="container">
    <nav class="navbar navbar-default" role="navigation" style="background-image: linear-gradient(#F5F0F5, #E6DCBE);">
        <div class="">
    

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
               
            </div>

           
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
                    <li>
                        <a href="{% url 'home' %}" style="font-size: 16pt; font-family:cursive;">Acasă</a>
                    </li>


                    <li class="dropdown" id="parentCell" ><a class="dropdown-toggle" data-toggle="dropdown" style="font-size: 16pt; font-family:cursive;" href="#">Restaurare<span class="caret"></span></a>
                       <ul class="dropdown-menu" style="border: 0px solid black; background-color: #E6DCBE;">
                         <li>
                            <a href="{% url 'lemn' %}" style="font-size: 16pt; font-family:cursive;">Lemn</a> 
                         </li>
                         <li>
                            <a href="{% url 'piatra' %}" style="font-size: 16pt; font-family:cursive;">Piatră</a>
                         </li>
                       </ul>
                    </li>


                </ul>
            </div>
         


        </div>     
    </nav>


</div>