
<div id="header">
  <div class="container"> 
    <!-- Header | Logo, Menu
        ================================================== -->
    <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
    <div class="mainmenu">
      <div id="mainmenu">
        <ul class="sf-menu">
          <li><a href="{% url 'home' %}" id="visited">Acasă</a></li>

          <li><a href="{% url 'restaurare_main' %}">Despre restaurare</a>

          <li><a href="{% url 'lemn' %}">lemn</a>

          <li><a href="{% url 'piatra' %}">piatra</a>

          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
      <!-- mainmenu ends here --> 
      
      <!-- Responsive Menu -->
      <form id="responsive-menu" action="#" method="post">
        <select>
          <option value="">Navigație menu</option>
          <option value="{% url 'restaurare_main' %}">Despre restaurare</option>
          <option value="{% url 'home' %}">About</option>
          <option value="{% url 'lemn' %}">Lemn</option>
          <option value="{% url 'piatra' %}">Piatră</option>
          <option value="{% url 'contact' %}">Contact</option>
        </select>
      </form>
    </div>
    <!-- mainmenu ends here --> 
  </div>
  <!-- container ends here --> 
</div>
<!-- header ends here --> 