{% extends 'base.html' %}
 

 {% block metatags %}
    <meta name="description" content="Restaurare piatra">
    <meta name="keywords" content="restaurare, piatra, roca">
    <meta property="og:title" content="Restaurare piatra" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https:www.artarestaurarii.ro" />
    <meta property="og:description" content="Restaurare piatra" />
{% endblock metatags %}

   
{% load static %}

{% block body %} <body id="restaurare"> {% endblock body %}

{% block content %}

<div class="container">
  


</div><!-- /.container -->


<div class="box-c"> 
  <div class="row">
               
                <div class="col-md-9">
                </div>


                <div class="col-md-3" style="">
                  <h3>Piatră</h3>
                  <hr style="border-color: grey; width: 90%; margin-left: 10px;"> 
                  <hr style="border-color: grey; width: 90%; margin-left: 10px;"> <br>
                </div>
        </div> <!-- row -->

</div>




    

{% endblock content %}
